header{
  height: 100px;
  color: white;
  background-color: rgb(67, 94, 107);
  text-align: center;
  padding-top:10px;
}
#footer-div{
  height: 50px;
  background-color: rgb(67, 94, 107);
  text-align: center;
  padding-top:1%;
  color: white;

  float: bottom;
}
.main{
  min-height: 516px;
}
.add-course{
  border-right: 1px solid #EEE;
}
.select-course{
  padding-left: 40px;
}
#invalid_cred{
  color:red;
}

.form_new_course td{
  padding: 10px 10px 10px 10px;
  width:200px;
}
.form-control{
  width: 200px;
}
.greetings{
  float:right;
  position:absolute;
  margin-top: -50px;
  margin-left: 20px;
}
.logout{
  float: left;
  margin-top: -50px;
  margin-left: 20px;
  color: black;

}
.course_name_title{
  margin-top: 10px;
}
#add_section{
  display: none;
}
#add_video{
  display: none;
}
.video_col{
  height: 450px;
  border-left: 1px solid #EEE;
  padding:20px 20px 20px 20px;
}
#video_preview{
  margin-top: -70px;
}
