header{
  height: 100px;
  color: white;
  background-color: rgb(67, 94, 107);
  text-align: center;
  padding-top:10px;
}
#footer-div{
  height: 50px;
  background-color: rgb(67, 94, 107);
  text-align: center;
  padding-top:1%;
  color: white;

  float: bottom;
}
.main{
  min-height: 516px;
}
.add-course{
  border-right: 1px solid #EEE;
}
.select-course{
  padding-left: 40px;
}
#invalid_cred{
  color:red;
}
.form_new_course td{
  padding: 10px 10px 10px 10px;
  width:170px;
}
.course_name_title{
  margin-top: 10px;
}
.video_col{
  padding:20px 20px 20px 20px;
}
#video_preview{
  margin-top: -70px;
}
